.deals-header {
  margin-bottom: 24px;
}

.deals-links {
  display: flex;
  flex-direction: column;
}

.deals-links a {
  color: var(--color-primary);
  font-size: 14px;
  margin: 11px 0 0;
  text-decoration: none;
}

.deal-box {
  position: relative;
  margin-bottom: 16px;
}

.deal-box img {
  width: 60px;
  height: 60px;
  margin: 11px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.company-name {
  background: var(--color-primary);
  color: white;
  padding: 11px 16px 11px 84px;
  margin: 0;
  font-size: 18px;
}

.fund-details {
  background: var(--color-light-primary);
  padding: 11px 16px 11px 84px;
  margin: 0;
}

.fund-details h5 {
  color: var(--color-light-grey);
  font-family: var(--font-family-tertiary);
  margin: 0;
}

.deal-value {
  font-size: 18px;
  color: black;
  margin: 0;
}

.deal-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-light-pink);
}

.deal-info span {
  margin-bottom: 13px;
}

.deal-info i {
  margin-right: 10px;
}

.deal-byline {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  padding: 10px 16px 16px;
  background-color: var(--color-light-pink);
}

.deal-byline a {
  color: var(--color-medium-grey);
  font-size: 12px;
  text-decoration: none;
}

.deal-byline a span {
  color: var(--color-light-grey);
  font-size: 12px;
}

.deal-box:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .deals-links {
    flex-direction: row;
  }

  .deals-links a {
    margin: 20px 0 0;
    font-size: 16px;
  }

  .deals-links a::after {
    content: "|";
    margin: 0 10px;
  }

  .deals-links a:last-child::after {
    display: none;
  }

  .deals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .deals-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .deal-box:last-child {
    display: block;
  }

  .deals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .deals-links a {
    margin: 0;
  }
}
