.nav-mobile {
  transition: 0.4s;
  /* -webkit-transform: translateX(100%);
  transform: translateX(100%); */
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 100%;
  height: 100vh;
  left: 0;
  padding: 48px 20px;
  position: fixed;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: 997;
}

.nav-mobile-content {
  display: flex;
  flex-direction: column;
}

.nav-mobile-social {
  display: flex;
  align-items: center;
}

.nav-mobile-social li a {
  color: white;
  font-size: 20px;
  margin-right: 2em;
  padding: 10px;
}

.nav-mobile-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sections h5 {
  color: white;
  font-size: 14px;
  font-family: var(--font-family-tertiary);
  text-transform: uppercase;
  margin: 0;
}

.nav-mobile-menu a {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  text-decoration: none;
  line-height: 2;
  margin-top: 0;
}
