.tech-latest-container {
}

.tech-header-wrap {
  position: relative;
  /* border: 1px solid;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px; */
}

.tech-image img {
  position: relative;
  /* background: ; */
}

.tech-image img::after {
  display: block;
  content: "";
  background: red;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.tech-image img {
  width: 100%;
  /* height: 100%; */
}

.tech-header {
  position: absolute;
  bottom: 0;
  padding: 14px;
}

.tech-header a {
  color: white;
}
